<a href="https://colab.research.google.com/github/jjgarau/Python-Classes/blob/master/Spanish/notebooks/15.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Introducción a Python: Sesión 15**

Material creado por Juanjo Garau (garau@mit.edu)

## **Solución a los ejercicios de la Sesión de repaso/refuerzo 2**

En esta sesión repasaremos todo lo que hemos visto hasta el momento: básicos, variables, listas, estructuras condicionales, iteradores, visualización, diccionarios y strings. La estructura del *notebook* es a base de preguntas cortas que cubren aquellos conceptos básicos de todo lo que hemos visto y que es muy útil si se recuerdan con cierta soltura (aunque siempre es necesario práctica y tiempo, no te preocupes!)

**Pregunta 1**

Muestra por pantalla: `Hola, mundo!`

In [0]:
# Tu código aquí
print("Hola, mundo!")

**Pregunta 2**

Escribe un comentario en Python:

In [0]:
# Esto es un comentario

**Pregunta 3**

Corrige todos los errores en el siguiente código:

In [0]:
if 8 > 5:
  print('Eight is greater than five!')

**Pregunta 4**

Crea una variable y asígnale un valor **float**

In [0]:
# Tu código aquí
a = 4.0
print(a)

**Pregunta 5**

Crea una **lista** con valores **integer** que vaya de 3 a 8 (incluido), debes escribir todos los números uno a uno.

In [0]:
# Tu código aquí
lista = [3, 4, 5, 6, 7, 8]
print(lista)

**Pregunta 6**

Crea la misma lista que la pregunta 5, esta vez usando la función `range`.

In [0]:
# Tu código aquí
lista = list(range(3, 9))
print(lista)

**Pregunta 7**

Cuál es el **tipo** de los siguientes elementos?

```
a = 3e4                                --> float
b = "9"                                --> string
c = 9 > 9                              --> bool
d = []                                 --> lista
e = {'a': 1, 'b': 2}                   --> diccionario
f = int(str(9))                        --> integer
g = [1, 2, 3][0]                       --> integer
h = list({'a': 1, 'b': 2}.keys())[0]   --> string
```

**Pregunta 8**

Cuál es el **valor** que cada una de las siguientes variables guarda?

```
a = 3.0 + 4                   --> 7.0 
b = True + False              --> 1
c = a // 1                    --> 7
d = str(8) + "a"              --> "8a"
e = list(range(7, 3, -1))     --> [7, 6, 5, 4]
f = e[1:2]                    --> [6]
g = 9.0 == 9                  --> True
h = 2 * 2 ** 2                --> 8
```

**Pregunta 9**

Muestra por pantalla el **tipo** de la variable `a`:

In [0]:
a = 1
# Tu código aquí
print(type(a))

**Pregunta 10**

El siguiente código resultaría en un **error**, por qué?

```
a = [1, 2, 3]
b = [4, 5, 6]
c = a[0] + b[2]
d = a[-1] + b[3]
```

**Solución:** `b[3]` intenta acceder a la cuarta posición de la lista `b` pero la lista `b` sólo tiene 3 elementos.

**Pregunta 11**

Escribe **dos** formas para convertir el número **float** `3.0` en un **integer**.

In [0]:
num = 3.0
# Tu código aquí
a = int(num)
b = num // 1

**Pregunta 12**

Muestra por pantalla la **longitud** de la siguiente lista:

In [0]:
l = [1, 2, 3, 4]
# Tu código aquí
print(len(l))

**Pregunta 13**

Usando las variables dadas, muestra la siguiente frase por pantalla:

```
Hola, me llamo Jaime y tengo 30 años.
```

In [0]:
nombre = "Jaime"
edad = 30
# Tu código aquí (fíjate en el tipo de las variables)
print("Hola, me llamo", nombre, "y tengo", edad, "años.")

**Pregunta 14**

Las siguientes variables se evaluarán a `True` o `False`?

```
a = 9 > 3                                     --> True
b = 4 - 3 > 1                                 --> False
c = 3 <= 2                                    --> False
d = 2 ** 4 == 4 ** 2                          --> True
e = "string" != "String"                      --> True
f = "food" > "zebra"                          --> False
g = "g" > "G"                                 --> True
h = len({'a': 1, 'b': 2}) < len([1, 2, 3])    --> True
i = bool(True * False)                        --> False
```

**Pregunta 15**

Cuál es el cuociente entero y el residuo que resulta al dividir 23123 entre 23?

In [0]:
# Tu código aquí
print(23123 // 23)
print(23123 % 23)

**Pregunta 16**

Escribe un código que mire si `'manzanas'` está en la lista dada y muestre por pntalla `SI`.

In [0]:
l = ['manzanas', 'plátanos', 'peras']
# Tu código aquí
if 'manzanas' in l:
  print('SI')

**Pregunta 17**

Las siguientes variables se evaluarán a `True` o `False`?

```
a = (3 < 3) or (4 < 4)         --> False
b = (3 >= 3) and ('a' == 'a')  --> True
c = not (not (4 < 5))          --> True
```

**Pregunta 18**

Muestra por pantalla el valor del último elemento de la siguiente lista **de dos formas distintas**:

In [0]:
l = [1, 2, 3, 4, 5]
# Tu código aquí
print(l[4])
print(l[-1])

**Pregunta 19**

Cambia un valor de la siguiente lista y luego añade un elemento nuevo (es decir, incrementa la longitud de la lista por 1)

In [0]:
l = [1, 2, 3, 4, 5]
# Tu código aquí
l[0] = 1000
l.append(32)
print(l)

**Pregunta 20**

Haz un corte a la lista que incluya los elementos tercero, cuarto y quinto:

In [0]:
l = ['león', 'elefante', 'cebra', 'tigre', 'oso', 'jirafa', 'cocodrilo']
# Tu código aquí
print(l[3:6])

**Pregunta 21**

Completa los puntos suspensivos con la palabra adecuada:

In [0]:
t = 10
if t > 20:
  print(1)
elif t > 10:
  print(2)
else:
  print(3)

**Pregunta 22**

Escribe una estructura condicional que compruebe si un número es par o impar:

In [0]:
# Tu código aquí
num = 8
if num % 2 == 0:
  print('PAR')
else:
  print('IMPAR')

**Pregunta 23**

**Dos** cosas faltan en el siguiente fragmento de código para que la estructura `while` **funcione** y **termine**. Añádelas.

In [0]:
i = 0
while i < 6:
  print(i)
  i = i + 1

**Pregunta 24**

Toma la estructura `while` **corregida** de la pregunta anterior y añade líneas de código que obliguen al iterador a parar si `i` es mayor que `4`. No debes cambiar la condición de iteración, simplemente añadir nuevas instrucciones.

In [0]:
# Tu código aquí
i = 0
while i < 6:
  print(i)
  i = i + 1
  if i > 4:
    break

**Pregunta 25**

Qué números se mostrarían por pantalla si ejecutáramos el código que sigue?

```
k = 1
while k < 10:
  if k % 3 == 0:
    print(k)
  elif k % 2 == 0:
    print(k + 1)
  k = k + 2
```

**Solución**: se mostrarían los números 3 y 9

**Pregunta 26**

Muestra los contenidos de la siguiente lista usando una estructura `for`:

In [0]:
l = ['escritorio', 'silla', 'lámpara']
# Tu código aquí
for elem in l:
  print(elem)

**Pregunta 27** 

Tienes que crear la siguiente lista usando una estructura `for`: `[1, 4, 9, 16, 25]`. Fíjate en que todos los números son los cuadrados de los 5 primeros números naturales.

In [0]:
# Tu código aquí
l = []
for i in range(1, 6):
  l.append(i ** 2)
print(l)

**Pregunta 28**

Qué hace el siguiente código?

```
num = 5
for i in range(num):
  line = ''
  for j in range(i + 1):
    line = line + '#'
  print(line)
```

**Solución:** Crea triángulos que ocupan `num` filas.

**Pregunta 29**

Importa la librería para realizar visualizaciones:

In [0]:
# Tu código aquí
import matplotlib.pyplot as plt

**Pregunta 30**

Encuentra el índice de `manzanas` en la siguiente lista:

In [0]:
l = ['plátanos', 'peras', 'manzanas', 'kiwis']
# Tu código aquí
print(l.index('manzanas'))

**Pregunta 31**

Elimina el penúltimo elemento de la lista:

In [0]:
l = [1, 2, 3, 3, 4, 5, 6, 7]
# Tu código aquí
del(l[-2])
print(l)

**Pregunta 32**

Realiza una visualización con las listas `x` e `y` usando una línea:

In [0]:
x = [1, 2, 3, 4, 5]
y = [1, 8, 27, 64, 125]
# Tu código aquí
plt.plot(x, y)
plt.show()

**Pregunta 33**

Haz lo mismo que en la pregunta anterior pero esta vez usa un **scatter plot**

In [0]:
x = [1, 2, 3, 4, 5]
y = [1, 8, 27, 64, 125]
# Tu código aquí
plt.scatter(x, y)
plt.show()

**Pregunta 34**

Añade un elemento que tenga sentido en el siguiente diccionario:

In [0]:
d = {'enero': 1, 'marzo': 3, 'julio': 7, 'octubre': 10}
# Tu código aquí
d['diciembre'] = 12
print(d)

**Pregunta 35**

Itera a través de todos los pares de llaves y valores del siguiente diccionario y muéstralos por pantalla:

In [0]:
d = {'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5}
# Tu código aquí
for k, v in d.items():
  print(k, v)

**Pregunta 36**

Crea un elemento con algunos elementos y luego vacíalo.

In [0]:
# Tu código aquí
d = {'a': 1, 'b': 2, 'c': 3}
print(d)
d.clear()
print(d)

### **Solución a los Ejercicios de la Sesión 14**

**Ejercicio 1**

Crea un código que dada una lista, o bien cree una nueva lista ordenada, o ordene la lista original. Los valores de la lista deben estar ordenados de menor a mayor. Luego haz pruebas con otras listas!

In [0]:
lista = [4, 8, 0, 2, 3, 5, 1, 9, 8]
# Tu código aquí
# Ejemplo bubble sort
for i in range(len(lista) - 1):
  for j in range(i + 1, len(lista)):
    if lista[j] < lista[i]:
      lista[i], lista[j] = lista[j], lista[i]
print(lista)

**Ejercicio 2**

Dados dos diccionarios `d1` y `d2`, debes construir un diccionario `d3` que cumpla con las siguientes condiciones:

* Si una llave está o bien en `d1` o bien en `d2` (o en ambos), entonces tiene que estar en `d3`.
* Una llave que solamente esté en **uno** de los diccionarios `d1` o `d2`, debe aparecer en `d3` con el valor que tiene en el diccionario original. 
* Si una llave está en `d1` y `d2`, entonces su valor en `d3` debe ser el mayor de ambos valores (el valor en `d1` y el valor en `d2`).

In [0]:
d1 = {'a': 3, 'b': 2, 'c': 4, 'e': 9}
d2 = {'b': 5, 'd': 7, 'e': 1}
# Tu código aquí
d3 = d1.copy()
for k, v in d2.items():
  if k not in d3:
    d3[k] = v
  else:
    d3[k] = max(d3[k], v)
print(d3)

**Ejercicio 3**

En este ejercicio debes conseguir un código que realice la siguiente tarea: dado un número **integer** `num`, mostrar por pantalla un cuadrado de dimensiones `num x num` de la siguiente manera:

Por ejemplo si `num=3` debes mostrar por pantalla:

```
012
345
678
```

En cambio, si `num=6`:

```
012345
678901
234567
890123
456789
012345
```

Completa la siguiente celda con el código que realiza la funcionalidad descrita:

In [0]:
num = 8
# Tu código aquí
k = 0
for i in range(num):
  line = ''
  for j in range(num):
    line = line + str(k)
    k = (k + 1) % 10
  print(line)