<a href="https://colab.research.google.com/github/jjgarau/Python-Classes/blob/master/Spanish/notebooks/9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Introducción a Python: Sesión 9**

Material creado por Juanjo Garau (garau@mit.edu)

### **Solución a los Ejercicios de la Sesión 8**

**Ejercicio 1**

Las variables `a`, `b`, `c` y `d` guardan 4 números **distintos**. Tu tarea es encontrar el **segundo número más grande** de los 4 mediante instrucciones de código que siempre encuentren el segundo número más grande sean cuales sean los valores de `a`, `b`, `c` y `d`. 

Para este ejercicio **únicamente** puedes usar las funciones `max()` y `min()`. Estas funciones admiten mútliples parámetros y retornan el máximo o mínimo de todos ellos, respectivamente. Por ejemplo `max(1, 2, 3) --> 3` o `min(4.5, 8.9) --> 4.5`. Haz pruebas con ellos!

Completa la siguiente celda con tu código:

In [0]:
a = 9
b = 3
c = 5
d = 1

# Completa con tu código
# Sólo puedes usar las funciones min() y max()
segundo_max = min(max(a, b, c), max(a, b, d), max(a, c, d), max(b, c, d))
print(segundo_max)

Debes comprobar que funciona para varios valores de las variables.

**Ejercicio 2**

El siguiente ejercicio trata de invertir las mitades en una lista. Es decir, si tenemos una lista `[1, 2, 3, 4, 5, 6]`, nuestro objetivo es que el código produzca la lista `[4, 5, 6, 1, 2, 3]`. Recuerda que debe funcionar para cualquier lista. En caso de que la lista sea de longitud impar, puedes considerar libremente el elemento del medio como parte de la primera o segunda mitad.

In [0]:
lista = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Completa con tu código
corte = len(lista) // 2
lista = lista[corte:] + lista[:corte]
print(lista)

**Ejercicio 3**

En las pruebas olímpicas de trampolín, 6 jueces puntúan cada salto con números del 0 al 10. Una vez un saltador salta, los jueces puntúan ese salto, se recogen las puntuaciones, y se eliminan la puntuación más grande y la puntuación más pequeña, quedando sólo 4 puntuaciones. Luego, con esas puntuaciones se hace una media y ese número es la puntuación final del saltador. 

Tu objetivo en este ejercicio es escribir un código que dado una lista de puntuaciones dadas por los 6 jueces a un saltador, calcule la puntuación final de este saltador según el método descrito. En caso de que la puntuación máxima o mínima esté repetida, sólo se elimina una vez. La media **siempre** se realiza con 4 números.

In [0]:
puntuaciones = [8, 9, 7.5, 10, 9.5, 8]

# Completa con tu código
del(puntuaciones[puntuaciones.index(max(puntuaciones))])
del(puntuaciones[puntuaciones.index(min(puntuaciones))])
media = (puntuaciones[0] + puntuaciones[1] + puntuaciones[2] + puntuaciones[3]) / 4
print(media)

**Ejercicio 4**

Dado un número **float**, separa su parte entera de su parte decimal y guarda cada una en una variable.

In [0]:
numero = 7.89

# Completa con tu código
entera = int(numero)
decimal = numero - entera  # También se puede hacer --> numero % 1
print(entera, decimal)

**Ejercicio 5**

El [Project Euler](https://projecteuler.net) es una web muy interesante que contiene multitud de problemas matemáticos que se resuelven mediante programación. Nosotros haremos el problema número 6:

La suma de los cuadrados de los 10 primeros números naturales es:

```
1**2 + 2**2 + ... + 9**2 + 10**2 = 385
```

El cuadrado de la suma de los 10 primeros números naturales es:

```
(1 + 2 + ... + 8 + 9 + 10)**2 = 3025
```

Por tanto, la diferencia entre el cuadrado de la suma y la suma de cuadrados de los 10 primeros números naturales es `3025 - 385 = 2640`.

Calcula la diferencia entre el cuadrado de la suma y la suma de cuadrados de los 100 primeros números naturales:

In [0]:
# Escribe tu código para encontrar la respuesta aquí
suma = 0
suma_cuadrados = 0
for i in range(1, 101):
  suma = suma + i
  suma_cuadrados = suma_cuadrados + i ** 2
resultado = suma ** 2 - suma_cuadrados
print(resultado)

**Ejercicio 6**

La lista `lista` contiene múltiples **números**. Tu objetivo es eliminar de la lista el número máximo **tantas veces como este aparezca en la lista**.

In [0]:
lista = [5, 8, 9, 9, 3, 3, 7, 3, 5, 2, 6, 1, 4, 1, 6, 7, 9, 3, 1, 9]

# Completa con tu código
numero_maximo = max(lista)
while numero_maximo in lista:
  del(lista[lista.index(numero_maximo)])
print(lista)

**Ejercicio 7**

Un año es bisiesto si es múltiple de 4, pero no múltiple de 100. Por otra parte, si el año es múltiple de 400, sí es bisiesto.

Completa la celda que sigue para determinar si el año que se guarda en la variable `year` es bisiesto o no. Puedes mostrar por pantalla el resultado (por ejemplo `El año es bisiesto`) o guardarlo en una variable booleana (`bisiesto = True`).

Asegúrate que tu código funciona para distintos años!

In [0]:
year = 1964

# Completa con tu código
if year % 400 == 0:
  bisiesto = True
elif year % 100 == 0:
  bisiesto = False
elif year % 4 == 0:
  bisiesto = True
else:
  bisiesto = False
print(bisiesto)

**Ejercicio 8**

Dado un número **integer** guardado en la variable `numero`, escribe un código que calcule la suma de sus dígitos:

In [0]:
numero = 239847

# Completa con tu código
suma_digitos = 0
while numero > 0:
  suma_digitos = suma_digitos + numero % 10
  numero = numero // 10
print(suma_digitos)

Recuerda hacer pruebas para distintos valores de `numero`.