<a href="https://colab.research.google.com/github/jjgarau/PythonClasses/blob/master/basics_variables_lists.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Introduction to Python**

## **Basics**

This notebook will guide you through the basics of Python language, the first step in your road to master the most used coding language in the world! Let's start: Hello, world!

In [0]:
print("Hello, world!")

Do you want to print something?

In [0]:
# Write whatever you would like to print, don't forget the quote marks!
print()

Well done! You can insert coments in a code using the hashtag symbol, this might be useful to introduce or explain what a code snipet does. Comments are not evaluated by the Python interpreter

In [0]:
print("Hi!")
# print("How are you?")
print("What time is it?")

Now you know how to write comments in Python! Use them, they are really helpful!

Now we will do some math, let's start by printing a couple of numbers

In [0]:
print(10)
print(3.14)
print(-8)
print(1e3)

Nice! You can see you don't need to add quote marks to print numbers, let's do the experiment?

In [0]:
print("2")
print(2)

Both lead to the same output, but are they the same thing? Let' see...

In [0]:
print(type("2"))
print(type(2))

Apparently not! The first item is known as a **string** whereas the second one is an **integer**. A string is a sequence of characters between quotation marks:

In [0]:
print("This is a string")
print("This is also a string")
print("1 4M 4 57R1NG 700")
print("()(=!¿?{[]}=")
print('Strings are also defined using apostrophes')

Are the types of the numbers we have previously printed the same?

In [0]:
print(type(10))
print(type(3.14))
print(type(-8))
print(type(1e3))

No, they are not! Two of them are integers while the other two are known as **floats**. A float number is a number that has a decimal point, it doesn't necessarily need to be decimal:

In [0]:
print(type(7))
print(type(7.0))

Python is a very good calculator! Let's do some math operations

In [0]:
print(1 + 2)
print(9 - 3)
print(6 * 3)
print(15 / 3)

What have you noticed about the type of the outcome of these operations? We only used integer variables, are the outcomes integer too?

Let's see what happens when we use float numbers

In [0]:
print(1 + 2.0)
print(9.0 - 3.0)
print(4.5 * 2.3)
print(13 / 7)

We have some nice floats as a result! Some tips to turn these guys into integers

In [0]:
print(3.0)
print(type(3.0))
print(int(3.0))
print(type(int(3.0)))

Exactly! If you add 

```
int()
```
to any float number it turns into an integer number. What happens if we do that with a decimal number?

In [0]:
print(int(3.4))
print(int(7.6))

They drop the decimal part! In a division we can achieve the same result using a double slash:

In [0]:
print(7 // 2)
print(type(7 // 2))

Now we will look at two other operators. Let's start with the modulus operator, this returns the remainder of the division between two numbers

In [0]:
print(7 % 2)
print(8 % 2)
print(234 % 34)

Can you think of any application in which this is useful?

Now let's look at the power operator

In [0]:
print(2 ** 4)
print(5 ** 4)
print(7 ** 8)

Now you have seen operations with numbers, integers and floats. Can we do any operations on strings? Let's see...

In [0]:
print("a" + "b")
print(type("a" + "b"))

Yes! Adding strings simply concatenates the strings. Can we substract them?

In [0]:
print("a" - "b")

Unfortunately we can't :(  Strings can only be added.

## **Variables**

In most coding languages information (a number, a string...) is stored in variables. We give a name to these information units to keep track of them, let's see how we can define variables

In [0]:
i_am_a_variable = 1

Now we can play around with this variable "forgetting" what is actually inside

In [0]:
print(i_am_a_variable)
print(type(i_am_a_variable))
print(i_am_a_variable + 2)

Let's see more examples

In [0]:
temperature = 23.2
name = "John"
age = 54
temperature_string = str(temperature) + " C"
b = True

Notice we have created the `temperature_string` variable from the `name` variable, let's check it out

In [0]:
print(temperature_string)

You might have noticed that variable `b` is assigned the value `True`. In Python, as well as in most of coding languages, there exist the binary variables `True` and `False`, which are very helpful when dealing with conditional statements. These are known as **boolean variables**

In [0]:
print(b)
print(type(b))
c = False
print(type(c))

We can do some math with these variables too

In [0]:
print(False + False)
print(True + False)
print(True + True)

They turn into integers! That is because these variables are evaluated as 1 if it is `True` and 0 if it is `False`, let's see more examples

In [0]:
print(False * False)
print(False / True)
print(True * False)
print(True * True)

Most of the statements in Python involve the use of variables:

In [0]:
name = "Laura"
age = 33
print("Hello, my name is " + name + " and I'm " + str(age) + " years old.")

Notice we need to add the `str()` statement to be able to turn the `age` variable, an integer, into a string. Another way to do it is the following:

In [0]:
print("Hello, my name is", name, "and I'm", age, "years old.")

This produces exactly the same output and it doesn't need any type conversion function for the `age` variable. Notice we have removed some of the spaces though. 

Now let's see that is important to keep in mind how we treat our variables

In [0]:
a = "This is important information, don't lose it"
b = "This is also important information"
a = "Important information 2.0"

Now what do you think we have access to? Let's check it out

In [0]:
print(a)
print(b)

Exactly, we have lost some important information. While you might want to override some variables in order to save memory (I'm sorry but we can't store an infinite amount of variables), you need to keep an eye on the information you're actually overriding, as you don't want to lose anything you will need in future parts of your code.

You can copy variables though:

In [0]:
a = "This is important information, don't lose it"
b = "This is also important information"
c = a
a = "Important information 2.0"

print(a)
print(b)
print(c)

As you will see, you can only copy integers, floats, strings, and booleans...

There are multiple ways in which information can be passed to variables, we have already seen we can copy other variables or directly assigning the value to the variable. We can also make it be the input from keyboard:

In [0]:
inp = input("Write text here:")
print(inp)
print(type(inp))

That is useful! Let's see what happens if we write a number

In [0]:
inp = input("Now write a number:")
print(inp)
print(type(inp))

Numbers are read as strings if they are part of an input from the keyboard. You must make sure to convert them to numbers using either `int()` or `float()` before using them in the code.

## **Lists**

Variables are useful, but sometimes we need to keep track of a lot of information units. Imagine we would need to keep track of the average daily temperature in every state of the US. Do you think it is comfortable to write

```
print(temperature_alabama)
print(temperature_alaska)
print(temperature_arizona)
...
```
? Obviously it isn't! **Lists** are used in Python to keep track of multiple information items, let's see an example

In [0]:
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(my_list)
print(type(my_list))

Everything that is defined within brackets `[]` is part of a list. We can store different types of information in a list

In [0]:
shopping_list = ["apples", "onions", "rice", "chocolate"]
temperatures_of_the_week = [23.4, 20.0, 21.1, 25.5, 26.7, 20.0, 23.9]
random_information = [4, "cold", 9.0, 4*5, "coffee"]
is_it_weekend = [False, False, False, False, False, True, True]

Notice the change in the *random_information* list

In [0]:
print(random_information)

Yes! You can define elements inside lists as operations, just in the same way you can define variables as operations between two other variables. Actually, you can imagine that each element inside a list is a variable. One of the most important attributes of a list is its length:

In [0]:
print(len(shopping_list))
print(len(random_information))
print(type(len(random_information)))

The `len()` function returns the number of elements inside a list. We can create empty lists as:

In [0]:
i_am_an_empty_list = []
i_am_also_an_empty_list = list()
print(len(i_am_an_empty_list))
print(len(i_am_also_an_empty_list))

We can add elements to a list using the `append()` function, let's check it out:

In [0]:
i_am_an_empty_list.append(1)
print(i_am_an_empty_list)
i_am_an_empty_list.append(2)
print(i_am_an_empty_list)

Fun fact: you can store lists inside lists (and lists inside lists inside lists...)

In [0]:
i_am_a_nested_list = [[1, 2, 3], [4, 5, 6]]
i_am_also_a_nested_list = ["a", "b", ["c", "d", "e"], "f"]

You have seen you can check what's inside a list, but what happens when you need the information contained at a specific position of the list? I have the information of the average temperature of every state in the US but I'm actually only interested in the state of Massachusetts. You can easily access it using brackets `[]`

In [0]:
lst = ['a', 'b', 'c', 'd', 'e', 'f']
print(lst)
print(lst[0])
print(lst[3])
print(lst[-1])
print(lst[-3])

As you can see, the elements in a list are numbered from 0 to the length of the list minus 1 (e.g. if the list has length 10 the first element is *indexed* at 0 and the last element is indexed at 9). If you want to access the last element of a list you can do it with the index `-1` (then the previous element to the last is accessed using the index `-2` and so on). These indexes allow us to slice lists and get sublists too:

In [0]:
sublist1 = lst[0:3]
sublist2 = lst[:3]
sublist3 = lst[3:5]
sublist4 = lst[:-1]
sublist5 = lst[-5:-2]
sublist6 = lst[3:]

What do you think each of these lists will contain? Let's see...

In [0]:
print(sublist1)
print(sublist2)
print(sublist3)
print(sublist4)
print(sublist5)
print(sublist6)

If you have a nested list you can access the individual elements using double brackets `[][]`, as in this example:

In [0]:
nested_list = [[1, 2, 3], [4, 5, 6]]
print(nested_list[0][1])
print(nested_list[-1][-1])
print(nested_list[1][2])

You can use indexing to modify the contents of a list:

In [0]:
my_list = [1, 2, 3, 4, 5, 6, 7, 8]
print(my_list)
my_list[2] = 67
my_list[5] = 102
print(my_list)

Or you can choose to delete elements inside the list too, by using the `del()` function

In [0]:
print("The initial length of the list is", len(my_list))
print(my_list)
del(my_list[0])
print(my_list)
del(my_list[-1])
print(my_list)
print("The final length of the list is", len(my_list))

When dealing with lists one of the most common errors is not copying lists correctly. Let's see why is important to copy a list correctly:

In [0]:
numbers = [1, 2, 3, 4, 5]
numbers2 = numbers
print(numbers)
print(numbers2)

That's great, the list `numbers` has been copied to `numbers2`, now we can change the list `numbers` without needing to worry about losing information? Let's see...

In [0]:
print(numbers)
print(numbers2)
numbers[2] = 1000
print(numbers)

Okay, we have changed the `3` for a `1000`. But now I remembered I needed that 3 very badly, luckily I made a copy of the initial list to `numbers2`

In [0]:
print(numbers2[2])

What? Let's check that again

In [0]:
print(numbers2)
print(numbers)

Yes, you haven't actually copied the list but assign it to two different variables! The correct way to copy a list is adding `[:]` after the copy expression:

In [0]:
# We copy a list adding [:] after the copy expression
numbers3 = numbers2[:]
print(numbers2)
print(numbers3)
numbers2[2] = 45.6
print(numbers2)
print(numbers3)

Let's see some interesting functionalities we can do with lists. We can check whether a list contains a specific element or not:

In [0]:
my_list = [1, 2, 3, 4, 5]
a = 4 in my_list
print(a)

Variable `a` has become a boolean variable (`True` or `False`) based on the fact that `my_list` contains number `4`. We can check if specific elements are inside our lists and receive a boolean variable in return. Let's see more examples:

In [0]:
grocery_shopping = ['onions', 'pasta', 'soy sauce', 'bread']
print('pasta' in grocery_shopping)
print('chocolate' in grocery_shopping)

If we add the `not` operator before the `in` operator we will get the opposite outcome:

In [0]:
print('pasta' not in grocery_shopping)
print('chocolate' not in grocery_shopping)

Basically, adding the `not` operator turns any boolean operator into its opposite. Therefore, `not True` becomes `False` and `not False` becomes `True`, makes sense right?

In [0]:
print(not True)
print(not False)

Another functionality we can do with lists is merge them, let's see an example:

In [0]:
list1 = [1, 2, 3]
list2 = [4, 5, 6]
list3 = list1 + list2
print(list1)
print(list2)
print(list3)

Using the addition operator `+` allows us to combine two different lists. Can you think why this might be useful? Another way to do that is using the `extend` function:

In [0]:
list1 = [1, 2, 3]
list2 = [4, 5, 6]
list3 = list1.extend(list2)
print(list1)
print(list2)
print(list3)

Be careful! Using the `extend` function doesn't create a new list but updates one of the original lists.

We can easily find the minimum and maximum elements of a list using the `min()`
 and `max()` functions

In [0]:
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(min(my_list))
print(max(my_list))

Let's see what happens when we use the same operators in a list containing exclusively strings

In [0]:
string_list = ['apples', 'bananas', 'celery', 'dragon']
print(min(string_list))
print(max(string_list))

Exactly! The `min()` function will return the first string in alphabetical order and `max()` the last string in alphabetical order. 

Another functionality we can do with lists is the localization of the position of specific elements inside them. To that end, we can use the `index()` operator:

In [0]:
months = ['january', 'february', 'march', 'april', 'may', 'june', 'july', 'august', 'september', 'october', 'november', 'december']
print(months.index('march'))

The `index()` operator returns the position of the element specified inside the list (following the 0-based indexing system). Therefore, combining this with the `min()` and `max()` functions we can easily localize where the minimum and maximum of a list are:

In [0]:
numbers = [23, 456, 56, 23, 987, 24, 67, 2, 567, 34]
print(min(numbers))
print(numbers.index(min(numbers)))
print(max(numbers))
print(numbers.index(max(numbers)))

This is extremely useful when lists contain thousands or even millions of elements! One thing to bear in mind is what happens when the element we are looking for appears more than once inside the list:

In [0]:
numbers2 = [4, 5, 7, 3, 8, 10, 3, 6]
print(min(numbers2))
print(numbers2.index(min(numbers2)))

The function `index()` will return the position of the first appearance of such element inside the list. The same applies to the `del` (delete) function we have seen earlier:

In [0]:
del(numbers2[numbers2.index(min(numbers2))])
print(numbers2)

This is the end of the Lists tutoral in Python, you can find more information on Python lists [here](https://www.w3schools.com/python/python_lists.asp).